* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f7fa;
}

.loginsection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 0 2px 10px var(--shadow-medium);
}

.left, .right {
    background-color: rgb(227, 225, 225);
    width: 45%;
    max-width: 550px;
    box-shadow: 0px -2.5px 4px rgb(222, 165, 165),
        0px 2.5px 4px rgb(222, 165, 165);
    border-radius: 70px;
    overflow: hidden; /* Ensures content respects the border radius */
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.registerpic {
    width: 101%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the container without distortion */
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.right h1 {
    margin-bottom: 10px;
}

.right h5 {
    margin-bottom: 25px;
}

.right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    margin-bottom: 15px;
}

.name .firstname,
.name .lastname {
    height: 35px;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    border: none;
    font-size: 14px;
}

#email, #password {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.sex {
    margin: 15px 0;
    margin-left: 55px;
    align-self: flex-start;
}


.createaccount {
    height: 45px;
    width: 150px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.2s ease-in-out;
}

.createaccount:hover {
    box-shadow: 0 0 3px 5px #d1d2d3;
}